@import "tailwindcss";

:root {
  --background: oklch(88.2% 0.059 254.128);
  --background-secondary: oklch(93.2% 0.032 255.585);
  --foreground: oklch(28.2% 0.091 267.935);
  --foreground-secondary: oklch(0% 0 0);
  --accent: oklch(61.6% 0.234 264.718);
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-accent: var(--accent);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {

  .font-title {
    font-family: var(--font-sans);
    font-size: 36px;
  }
  .font-subtitle {
    font-family: var(--font-sans);
    font-size: 24px;
  }
  .font-text {
    font-family: var(--font-sans);
    font-size: 14px;
  }
}
