@import "tailwindcss";

:root {
  --background: #b8e6fe;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {

  .font-title {
    font-family: var(--font-sans);
    font-size: 36px;
  }
  .font-subtitle {
    font-family: var(--font-sans);
    font-size: 24px;
  }
  .font-text {
    font-family: var(--font-sans);
    font-size: 14px;
  }
}
